<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475930463775-vru6heqp6kslk5aajf069uovuchgqlkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475930463775-vru6heqp6kslk5aajf069uovuchgqlkh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmuJw5OJ4nKycf0PqNN1fACU5q8A_iBpI</string>
	<key>GCM_SENDER_ID</key>
	<string>475930463775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.passwordnotes</string>
	<key>PROJECT_ID</key>
	<string>passwordnotes-8c7df</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordnotes-8c7df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475930463775:ios:6c90711003a1bfc2fa8f2a</string>
</dict>
</plist>